.maindiv{
margin-top: 190px;
background:#4A235A      ;
display: flex;
justify-content: space-around;

}
.sub1{
  background: #48C9B0  ;
border-radius: 2px 2px;
box-shadow: 7px 8px #808B96   ;

}
.sub2{
  background: #48C9B0  ;
border-radius: 5px;
box-shadow: 7px 8px#808B96     ;
}
.sub3{
  background: #48C9B0  ;
border-radius: 5px;
box-shadow: 7px 8px#808B96    ;

}
body{
background:#C0392B    ;
}
.image1{
  width: 170px;
  height: 160px;
  text-align: center;
}
.image2{
  width: 170px;
  height: 160px;
  text-align: center;
}
.image3{
  width: 170px;
  height: 160px;
  text-align: center;
}
@media all and (max-width:768px) {
body{
  background: green;
}
}
